<div class="row">
  <div class="col-lg-12">
    <ol class="breadcrumb">
      <li>{{#link-to 'movies.index'}}Movies{{/link-to}}</li>
      <li class="active">{{model.title}}</li>
    </ol>
    <div>
      {{movie-details
        movie=model
        editing=editing
        deleteMovie=(action 'deleteMovie')
        updateMovie=(action 'updateMovie')
      }}
    </div>
  </div>
</div>
